@charset "utf-8";

header{
    background-color: black;
    width: 100%;
    position: relative;
    padding: 10px;
}
header p , h1{
    color: white;
    text-align: center;
}
h1{
    font-weight: bold;
}
body{
    margin: 0;
    padding: 0;
    /*background-image: url(imagens/background001.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 13%;
    background-position: 10% 21%;*/
    overflow-x: hidden;
}

.espaco , #imagem{
    text-align: justify;
    text-align: left;
    padding: 10px;
    font-weight: bold;
    font-size: 1.5em;
}

div#ajuste{
   
}
section{
   
    color: white;
}

div#aula{   
    width: 20%; 
}

#imagem{
    box-shadow: 10px 10px 10px 10px black;
}
img.video{
    position: absolute;
    top: 44.5%;
    left: 0;
    width: 100%;
    max-height:31vh;
    max-width: none;
    z-index: -1;
    background-position: 50% 40%;
}


