/*toodos as midias*/

/*device breakpoints
pequenas telas
celular: 600px
tablet: 992px
desktop: 1200px
grandes tela:1200pixel
*/
@media print{
body{
background-image: url(img/back-print.jpg);
}
*{
font-family: 'Courier New', Courier, monospace;
}
main h1{
    text-shadow: none;
    color: black;
}
main{
    border: 2px solid black ;
}
}
@media screen  and (min-width: 768px) and (max-width: 992px){
body{
    background-image: url(img/back-tablet.jpg);


img#phone{ display: none;}
img#tablet{ display: block;}
img#print{ display: none;}
img#pc{ display: none;}
img#tv{ display: none;}
}
}
@media screen  and (min-width: 992px) and (max-width: 1200px){
body{
    background-image: url(img/back-pc.jpg);
    img#phone{ display: none;}
    img#tablet{ display: none;}
    img#print{ display: none;}
    img#pc{ display: block;}
    img#tv{ display: none;}
}
}   
@media screen  and (min-width: 1200px){
    body{

        background-image: url(img/back-tv.jpg);
    img#phone{ display: none;}
    img#tablet{ display: none;}
    img#print{ display: none;}
    img#pc{ display: none;}
    img#tv{ display: block;}
}
}